node_modules/
.env
npm-debug.log*
coverage/
autodoc.html
.idea/
.artifacts/
output/
outputs/
tmp/
work/
www/
public/
android/.gradle/
android/local.properties
android/keystore.properties
android/app/google-services.json
*-firebase-adminsdk-*.json
*.jks
*.keystore

.vercel
.env*
